appdirs
argon2-cffi
asgiref
astroid
attrs
bcrypt
beautifulsoup4
certifi
cffi
chardet
click
colorama
defusedxml
django
django-allauth
django-bootstrap4
django-guardian
gitdb2
gitpython
idna
isort
lazy-object-proxy
mccabe
oauthlib
pathspec
pbr
pillow
pycparser
pyparsing
python3-openid
pytz
pyyaml
regex
requests
requests-oauthlib
six
smmap2
snowballstemmer
soupsieve
sqlparse
stevedore
toml
typed-ast
urllib3
wrapt
psycopg2